body {
  background-color: rgb(12, 10, 19);
  color: #adff2f;
  font-family: "Orbitron", serif;
}
.game {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.inputGrid,
.keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 6px;
}
.kbdRow,
.inputRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  touch-action: manipulation;
  gap: 5px;
}
.title {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: right;
  width: 300px;
  max-height: 60px;
  margin-bottom: 5px;
  font-size: 20px;
}
.title2 {
  color: rgb(255, 0, 200);
  font-size: 10px;
  align-self: last baseline;
  margin-bottom: -35px;
}
.keyboardButton,
.DEL,
.ENT {
  touch-action: manipulation;
  border: 0px;
  border-radius: 3px;
  width: 30px;
  height: 40px;
  color: #adff2f;
  font-size: 21px;
  font-weight: 600;
  margin: 3px;
  padding: 0;
  font-family: "Orbitron", serif;
  cursor: auto;
}
.inputCell {
  border-radius: 3px;
  font-size: 25px;
  width: 55px;
  height: 55px;
  margin: 4px 4px;
  font-family: "Orbitron", serif;
  text-align: center !important;
  font-size: 44px;
  font-weight: 800;
  color: aliceblue;
}

.DEL,
.ENT {
  height: 30px;
  width: 75px;
  background-color: #adff2f;
  color: blueviolet;
}
.DEL:hover,
.ENT:hover {
  background-color: rgb(1, 187, 201);
}
.keyboardButton:hover {
  background-color: rgb(0, 103, 110) !important;
}
.userGuess {
  font-size: 33px;
  color: rgb(4, 16, 27);
  background-color: aqua;
  margin-top: 15px;
}
.invalidWord {
  background-color: rgb(184, 184, 130);
  color: black;
  font-size: large;
  font-weight: bold;
}
.gameWon {
  position: absolute;
  background-color: #adff2f;
  opacity: 0.95;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 800;
  font-size: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  flex-direction: column;
}
.newGame {
  background-color: black;
  color: rgb(211, 195, 226);
  font-size: large;
  border: 2px solid blueviolet;
  border-radius: 2px;
  font-weight: 600;
  border-radius: 2px;
  font-family: "Orbitron", serif;
}
.newGame:hover {
  background-color: blueviolet;
  color: black;
}
.gameLost {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9b7e00;
  opacity: 0.95;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 800;
  font-size: 33px;
  color: rgb(0, 0, 0);
}
